Dear {name}, <br/><br/>

Congratulation your application is approved and you are now selected to be part from our program with collaboration with gates foundation, kindly find your credential that will be needed to login to our application manager.<br/><br/>

Please note that we will get back to you with more details.<br/><br/>

<table style="width: 100%;">
	<tr>
		<td style="width: 50%;">
			<p><strong>Login Details</strong></p>
			<p>
				<strong>Email :</strong> {email}<br/>
				<strong>Password :</strong> {password}<br/>
			</p>

		</td>

		<td style="width: 50%;">
			<p><strong>Follow us on social media</strong></p>
			<a href="https://www.facebook.com/KKFoundation">Facebook</a> | <a href="https://twitter.com/KKFoundation">Twitter</a>
		</td>
	</tr>
</table>

<br/><br/>
Thank you.